<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="firstName">First Name: </label> <br />
  <input id="firstName" type="text" formControlName="firstName" />
  <div
    class="red-warning"
    *ngIf="
      profileForm.get('firstName')?.invalid &&
      (profileForm.get('firstName')?.dirty ||
        profileForm.get('firstName')?.touched)
    "
  >
    <div *ngIf="profileForm.get('firstName')?.errors?.required">
      First name is required.
    </div>
    <div *ngIf="profileForm.get('firstName')?.errors?.maxlength">
      First name cannot be longer than 30 characters.
    </div>
    <div *ngIf="profileForm.get('firstName')?.errors?.alphabetic">
      First name can only contains Cyrillic or Latin characters.
    </div>
  </div>
  <br />

  <label for="lastName">Last Name: </label> <br />
  <input id="lastName" type="text" formControlName="lastName" />
  <div
    class="red-warning"
    *ngIf="
      profileForm.get('lastName')?.invalid &&
      (profileForm.get('lastName')?.dirty ||
        profileForm.get('lastName')?.touched)
    "
  >
    <div *ngIf="profileForm.get('lastName')?.errors?.required">
      Last name is required.
    </div>
    <div *ngIf="profileForm.get('lastName')?.errors?.maxlength">
      Last name cannot be longer than 50 characters.
    </div>
    <div *ngIf="profileForm.get('lastName')?.errors?.alphabetic">
      Last name can only contains Cyrillic or Latin characters.
    </div>
  </div>
  <br />

  <label for="email">Email: </label> <br />
  <input id="email" type="email" formControlName="email" />
  <br />

  <label for="phone">Phone: </label> <br />
  <input id="phone" type="tel" formControlName="phone" />
  <div
    class="red-warning"
    *ngIf="
      profileForm.get('phone')?.invalid &&
      (profileForm.get('phone')?.dirty || profileForm.get('phone')?.touched)
    "
  >
    <div *ngIf="profileForm.get('phone')?.errors?.required">
      Phone is required.
    </div>
    <div *ngIf="profileForm.get('phone')?.errors?.phone">
      Phone number must starts with +380 and be a valid Ukrainian number.
    </div>
  </div>
  <br />

  <label for="options">Options: </label> <br />
  <select id="options" formControlName="options">
    <option>Front end dev</option>
    <option>Back end dev</option>
    <option>Manual QA</option>
    <option>Automated QA</option>
    <option>DevOps</option>
    <option>SEO</option>
  </select>
  <br />
  <div class="mg-2">
    <label for="date">Date: </label> <br />
    <input id="date" type="date" formControlName="date" />
    <div
      class="red-warning"
      *ngIf="
        profileForm.get('date')?.invalid &&
        (profileForm.get('date')?.dirty || profileForm.get('date')?.touched)
      "
    >
      <div *ngIf="profileForm.get('date')?.errors?.required">
        Date is required.
      </div>
      <div *ngIf="profileForm.get('date')?.errors?.date">
        Date cannot be before today.
      </div>
    </div>
  </div>

  <label for="time" class="mg-2">Time: </label> <br />
  <select id="time" formControlName="time">
    <option value="11:00">11:00</option>
    <option value="13:00">13:00</option>
    <option value="15:00">15:00</option>
    <option value="17:00">17:00</option>
  </select>
  <div
    class="red-warning"
    *ngIf="
      profileForm.get('time')?.invalid &&
      (profileForm.get('time')?.dirty || profileForm.get('time')?.touched)
    "
  >
    <div *ngIf="profileForm.get('time')?.errors?.required">
      Time is required.
    </div>
    <div *ngIf="profileForm.get('time')?.errors?.invalidTime">
      Selected time must be at least 2 hours from the current time.
    </div>
  </div>

  <br />

  
  <br />

  <button [disabled]="profileForm.invalid" type="submit">Submit</button>
</form>
