.header{
  background-color: pink;
}

.saveable{
  background-color: black;
}

.special{
font-size: large;
}

.modified{
  font-style: italic;
  color: yellow;
}

.input-border{
  border: 3px solid red;
}

